<!-- Header -->
<header>
    <div class="searchbar">
        <img class="inicie" style="margin-left: -290px;" src="../../assets/img/logo.png" alt="Logo-Inicie">
        <p>Explore o mundo</p>
        <p>dos <span class="destaque-cor">Pokémons</span></p>
        <h4>Descubra todas as espécies de Pokémons</h4>
        <form >
            <input type="text" name="search">
            <button type="submit" >Buscar</button>
        </form>    
    </div>
    <div class="grid">
        <div>
            <img class="fundo-togepi" src="../../assets/img/togepi.png" alt="Togepi">
            <img class="fundo-picachu" src="../../assets/img/pikachu.png" alt="Pikachu">
        </div>
        <img class="fundo-ivy" src="../../assets/img/ivy.png" alt="Ivysaur">
    </div>
</header>
<div class="teste">
    <h2>Mais procurados</h2>
</div>
<!--End Header  -->